include /_mixins

doctype html
html
  head
    title= title
    +stylesheet_link_tag('application')
    +stylesheet_link_tag('font-awesome/css/font-awesome.min')
    +remote_stylesheet_link_tag('https://fonts.googleapis.com/css?family=Open+Sans:600')
    +remote_stylesheet_link_tag('https://fonts.googleapis.com/css?family=Pacifico')
    
  body
    block content
  
    +javascript_include_tag('app.min')
