include /_mixins

doctype html
html
  head
    title= title
    +stylesheet_link_tag('application')
    +stylesheet_link_tag('font-awesome/css/font-awesome.min')
    +remote_stylesheet_link_tag('https://fonts.googleapis.com/css?family=Open+Sans:600')
    +remote_stylesheet_link_tag('https://fonts.googleapis.com/css?family=Pacifico')
    
  body
    block content
  
    +javascript_include_tag('vendor/bower')
    +javascript_include_tag('vendor/jquery-ui.min')
    +javascript_include_tag('vendor/backbone.localStorage')
    +javascript_include_tag('handlebars_templates')
    +javascript_include_tag('app')
    +javascript_include_tag('models/card', 'collections/cards', 'views/simple_card', 'views/card')
    +javascript_include_tag('models/list', 'collections/lists', 'views/list')
    +javascript_include_tag('views/lists')
    +javascript_include_tag('views/search')
    +javascript_include_tag('routers/router')
