<a href="#" class="closeCard">Close</a>
<h1>{{title}}</h1>
<textarea class="editCardTitleInput hidden"></textarea>

<div class="description">
  <h2><span class="fa fa-align-left" aria-hidden="true"></span>Description</h2><a href="#" class="editDescription fa fa-pencil"></a>
  <p class="descriptionText">{{description}}</p>
  <textarea class="editDescriptionInput hidden"></textarea>
</div>

<h2><span class="fa fa-comment-o" aria-hidden="true"></span>Add a Comment</h2>
<textarea class="addCommentInput" name="comment" placeholder="Write a comment..."></textarea>

<ul>
  {{#each comments}}
    <li>
      <p class="comment">{{this.text}}</p>
      <textarea class="editCommentInput hidden"></textarea>
      <p class="commentDate">on {{formatDate this.date}} - <a href="#" class="editComment">Edit</a> - <a href="#" class="deleteComment">Delete</a></p>
    </li>
  {{/each}}
</ul>

<div class="deleteButtons">
  <a href="#" class="deleteCard">Delete Card</a>
  <a href="#" class="cancelDeleteCard hidden">Cancel</a>
  <a href="#" class="confirmDeleteCard hidden">Confirm</a>
</div>
