<a href="#" class="deleteList">Delete</a>
<a href="#" class="cancelDeleteList hidden">Cancel Delete</a>
<a href="#" class="confirmDeleteList hidden">Confirm Delete</a>
<h1>{{title}}</h1>
<input class="editListTitleInput hidden">
<ul>
</ul>
<a href="#" class="addCard">Add a card...</a>
<input class="addCardInput hidden">
