<a href="#" class="deleteList">Delete</a>
<a href="#" class="cancelDeleteList hidden">Cancel Delete</a>
<a href="#" class="confirmDeleteList hidden">Confirm Delete</a>
<h1>{{title}}</h1>
<textarea class="editListTitleInput hidden"></textarea>
<ul class="sortableCards">
</ul>
<a href="#" class="addCard">Add a card...</a>
<textarea class="addCardInput hidden"></textarea>
