font = 'Lato', sans-serif

colors = {
  body_text: #444
  button_bg: #00a388
  button_text: #fff
  main_bg: #fff
  delete: #b00b00
}

button()
  background-color: colors.button_bg
  border: none
  border-radius: 8px
  color: colors.button_text
  cursor: pointer
  display: inline-block
  font-size: 18px
  padding: 10px 25px
  text-decoration: none
  transition: background-color 100ms ease

  &:hover
    background-color: darken(colors.button_bg, 10)
