$primary_font = 'Open Sans', sans-serif
$logo_font = 'Pacifico', cursive

$section_width = 250px

colors = {
  header_bg: #005c99,
  body_bg: #0079bf,
  search_bg: #4389b7,
  secondary_bg: #0061a1,
  list_bg: #dee0e2,
  card_bg: #ffffff,
  cardview_bg: #eaecee,
  heading_text: #f5f4f5,
  search_text: #ffffff,
  primary_text: #4d4d4d,
  secondary_text: #808080,
  box_shadow: #aaaaaa,
  delete_bg: #e95b4b,
  delete_shadow: #ae4736,
  green_bg: #00bf8f,
  green_shadow: #00664C
}

card()
  background-color: colors.card_bg
  border-radius: 3px
  box-shadow: 0 1px 1px 1px colors.box_shadow
  margin: 8px 0
  padding: 8px
  position: relative

  &:hover
    background-color: darken(colors.card_bg, 5)

button()
  border-radius: 5px
  color: colors.search_text
  padding: 10px
  text-align: center

deleteButton()
  button()
  background-color: colors.delete_bg
  box-shadow: 0 1px colors.delete_shadow

  &:hover
    background-color: darken(colors.delete_bg, 5)

greenButton()
  button()
  background-color: colors.green_bg
  box-shadow: 0 1px colors.green_shadow

  &:hover
    background-color: darken(colors.green_bg, 5)


closeButton()
  float: right
  height: 12px
  margin-right: 5px
  overflow: hidden
  position: relative
  text-indent: 9999px
  transform: rotate(45deg)
  width: 12px

  &:before,
  &:after
    background-color: colors.secondary_text
    content: ''
    position: absolute

  &:before
    bottom: 0
    left: 50%
    margin-left: -1px
    top: 0
    width: 2px

  &:after
    height: 2px
    left: 0
    margin-top: -1px
    right: 0
    top: 50%
