primary_font = 'Open Sans', sans-serif
logo_font = 'Pacifico', cursive

section_width = 250px

colors = {
  header_bg: #005c99,
  body_bg: #0079bf,
  search_bg: #4389b7,
  secondary_bg: #0061a1,
  list_bg: #dee0e2,
  card_bg: #ffffff,
  cardview_bg: #eaecee,
  heading_text: #f5f4f5,
  search_text: #ffffff,
  primary_text: #444444,
  secondary_text: #808080,
  box_shadow: #aaaaaa
}

card()
  background-color: colors.card_bg
  border-radius: 3px
  box-shadow: 0 1px 1px 1px colors.box_shadow
  margin: 8px 0
  padding: 8px
  position: relative

  &:hover
    background-color: darken(colors.card_bg, 5)

list()
  
